VITE_API_BASE_URL=https://api-dev.black101.com.br/api
VITE_TURNSTILE_SITE_KEY=6LfrNa0dAAAAALPAWAH31h0Bqepp0fooaxVX-2PT
VITE_ENTRA_ID_INSTANCE=6LfrNa0dAAAAALPAWAH31h0Bqepp0fooaxVX-2PT
VITE_ENTRA_ID_TENANT_ID=6LfrNa0dAAAAALPAWAH31h0Bqepp0fooaxVX-2PT
VITE_ENTRA_ID_CLIENT_ID=6LfrNa0dAAAAALPAWAH31h0Bqepp0fooaxVX-2PT
VITE_ENTRA_ID_REDIRECT_URI=6LfrNa0dAAAAALPAWAH31h0Bqepp0fooaxVX-2PT
VITE_ENTRA_ID_SCOPES=openid,profile,email
