VITE_API_BASE_URL=https://localhost:7110
VITE_TURNSTILE_SITE_KEY=
VITE_ENTRA_ID_INSTANCE=
VITE_ENTRA_ID_TENANT_ID=
VITE_ENTRA_ID_CLIENT_ID=
VITE_ENTRA_ID_REDIRECT_URI=
VITE_ENTRA_ID_SCOPES=openid,profile,email
